.navbar .nav > li > a {
  float: none;
  color: white;
}

.table th,td 
{
    text-align: center;
}
#header{
  background-color:#B94629;
}

#productName{
  color:#B94629;
}

#productDescription{
  color:black;
}

.unit{
  width:100px;
}