.navbar .nav > li > a {
  float: none;
  color: white;
}

.table th,td 
{
    text-align: center;
}
#header{
  background-color:#B94629;
}

#productName{
  color:#B94629;
}

#productDescription{
  color:black;
}

.unit{
  width:100px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}