<section>
    <div class="container">
        <h2>Login</h2>
        <form class="form-horizontal" name="userForm" role="form" ng-submit="login()">
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" ng-model="customer.email">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userFrom.error }">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="customer.password">
                    <p ng-show="userFrom.error" class="help-block">login failed : user and password do not match.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
    <section>