<section>
    <div class="container">
        <h2>My Orders</h2>
        <table class="table table-bordered table-hover" >
            <thead>
                <tr style="background-color:#B94629">
                    <th>Product Name</th>
                    <th>Order Unit(lb)</th>
                    <th>Order Time</th>
                    <th>Order Status</th>
                    <th>Order fee</th>
                    <th>Order Address</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.productName}}</td>
                    <td>{{order.unit}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.orderStatus}}</td>
                    <td>${{order.unit * order.unitPrice}}</td>
                    <td>{{order.address}}</td>
                    <td>
                        <button type="button" ng-class="{true : 'btn btn-primary btn-sm' , false:'btn btn-primary btn-sm disabled' }[order.orderStatus == 'ordered']" ng-click="removeOrder( order )">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><h4 style="text-align:right">Total Sum:${{ totalSum }}</h4></p>
    </div>
</section>
