<section>
    <div class="container">
        <h2>My Orders</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr style="background-color:#B94629">
                    <th>Product Name</th>
                    <th>Order Unit(lb)</th>
                    <th>Order Time</th>
                    <th>Order Status</th>
                    <th>Order fee</th>
                    <th>Order Address</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.productName}}</td>
                    <td>{{order.unit}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.orderStatus}}</td>
                    <td>${{order.unit * order.unitPrice}}</td>
                    <td>{{order.address}}</td>
                    <td>
                        <button type="button" ng-class="{true : 'btn btn-primary btn-sm' , false:'btn btn-primary btn-sm disabled' }[order.orderStatus == 'ordered']" ng-click="removeOrder( order )">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <h4 style="text-align:right">Total Sum:${{ totalSum }}</h4></p>
        <!--<button type="button" id="buynow" ng-class="{true : 'btn btn-success btn-sm' , false:'btn btn-success btn-sm disabled' }[totalSum > 0]" ng-click="pay( totalSum )">
                            <span class="glyphicon glyphicon-shopping-cart"></span>Pay
                        </button>-->
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="wouyang-facilitator@actuate.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="Payments">
            <input type="hidden" name="amount" value="{{ totalSum }}">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="cn" value="Add special instructions to the seller:">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="return" value="http://YOURSITE.com/">
            <input type="hidden" name="cancel_return" value="http://YOURSITE.com/payments.html">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</section>
