<section style="background-color:#E3DEC1;">
    <div class="container" style="border-bottom:solid #C2BFB6" ng-repeat="product in products">
        <div id="productItem" class="container">
            <div class="row">
                <div class="col-md-3" style="padding:8px 0px 8px 0px;">
                    <img class="img-responsive" src="{{product.imageURL}}" alt="lobster" width="300">
                </div>
                <div class="col-md-4">
                    <div id="productName" class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h1>{{product.productName}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div id="productDescription" class="col-md-8">
                                <h5>{{product.description}}
								</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 lead">
                                <label>prices:</label>
                                <mark>{{product.unitPrice}}</mark>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-4 lead">
                                    <div class="form-group">
                                        <label for="unit">unit(lb):
                                            <input type="text" id="unit" class="unit">
                                        </label>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                        	<div class="col-md-4">
                        		<button type="button" class="btn btn-primary">Order</button>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

