<section>
    <div class="container">
        <h2>Sign Up</h2>
        <form class="form-horizontal" name="userForm" role="form" ng-submit="register()">
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label class="control-label col-sm-2" for="email" >Email:</label>
                <div class="col-sm-10" >
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" ng-model="customer.email">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="customer.password">
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.error }">
                <label class="control-label col-sm-2" for="pwd">confirm Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter confirm password" ng-model="customer.confirm.password">
                    <p ng-show="userForm.error" class="help-block">password does not match.</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>